body{ 
background:#94B176 url(bg_line.gif) top center no-repeat fixed;
font-family:Georgia, "Times New Roman", Times, serif;
color:#333333;	}
a {
text-decoration:underline;
color:#597241;}
a:hover {
text-decoration:underline;
background-color:#E4ECDD;
color:#597241;}

ul {
list-style-image:url(bul_menu_norm.gif);}

img {
padding:0.3em; border:1px solid gray; margin:0.3em;}

.wrap{
width:647px;
margin:0px auto;
background:white url(main_top.jpg) top center no-repeat;
background:url(bg.gif) center repeat-y;}
	
.head{
width:647px;
position:absolute;
background:url(main_top.jpg) no-repeat center top;
height:150px;}

.title_main {
position:relative;
top:17px;
left:20px;
font-size:30px;
font-weight:bold;
color:#384828;
font-family: "Trebuchet MS";}

.main {
margin:17px 0px 0px 0px;
border-left:10px solid #597241;
border-right:10px solid #597241;
padding: 50px 1em 2em 1em;}

.bottom {
color:#666666;
clear:both;
vertical-align:middle;
font-family:"Trebuchet MS";
font-size:12px;
text-align:center;
height:50px;
background:white url(main_bottom.jpg) bottom center no-repeat;	}

.bottom a {text-decoration:none;
color:#666666;
background:none;}

.bottom a:hover{
text-decoration:underline; background:none;}

.menu a{position:relative;
text-decoration:none;
top:7px;
left:-13px;
font-family:"Trebuchet MS";
color:#E7ECCA;
font-weight:bold;
background: url(bul_menu_norm.gif) no-repeat left center;
padding-left:5px;
margin-right:1em;}
		
.menu a:hover{
color:white;
text-decoration:none;
background: url(bul_menu_hover.gif) no-repeat left center;}

.menu ul  {
list-style-type: none;}

.menu ul li {
display:inline;}

.title_sub{
position:absolute;
top:95px;
text-indent:10px;
font-family:"Trebuchet MS";
font-size:50px;
font-weight:bold;
font-style:italic;
color:#CFD6C8;
}
	
#cont{
margin-bottom:1em;
float:left;
width:380px;
}

.cont_text {
padding-left:0.3em;
padding-right:0.3em;
padding-bottom:10px;
background:url(news_bg.gif) bottom repeat-x;}

.title_sub2{
font-size:24px;
color:#597241;
padding-top:10px;
}

.date{
padding: 2px;
font-family:"Trebuchet MS";
font-size:12px;
margin-bottom:1em;
color:#597241;}

.col_right{
margin-bottom:0.5em;
float:right;
background-color:#E4ECDD;
width:190px;
border:1px solid #88A968;}

.col_right a:hover{
background-color:white;}

.cr_title{
background-color:#88A968;
font-family:"Trebuchet MS";
color:white; 
padding:0px 1em 0px 1em;}

.cr_cont{padding:0.5em;}



